@model List<Management_Panel.Models.Urun>
@{
    ViewData["Title"] = "UrunListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <header class="panel-heading">
        <div class="panel-actions"></div>
        <h3 class="panel-title">Ürün Listele</h3>
    </header>
    <div class="panel-body">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover dataTable table-striped w-full dtr-inline" data-plugin="dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 170px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">İsim</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 250px;" aria-label="Description: activate to sort column ascending">Açıklama</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;" aria-label="Price: activate to sort column ascending">Fiyat</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;" aria-label="Quantity: activate to sort column ascending">Miktar</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 110px;" aria-label="Stock: activate to sort column ascending">Stok Durumu</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30px;" aria-label="Image: activate to sort column ascending">Resim</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30px;">Sil</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30px;">Güncelle</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 30px;">Askıya Al</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">İsim</th>
                                <th rowspan="1" colspan="1">Açıklama</th>
                                <th rowspan="1" colspan="1">Fiyat</th>
                                <th rowspan="1" colspan="1">Mitar</th>
                                <th rowspan="1" colspan="1">Stok Durumu</th>
                                <th rowspan="1" colspan="1">Resim</th>
                                <th rowspan="1" colspan="1">Sil</th>
                                <th rowspan="1" colspan="1">Güncelle</th>
                                <th rowspan="1" colspan="1">Askıya Al</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var u in Model)
                            {
                                <tr>
                                    <td>@u.name</td>
                                    <td>@u.description</td>
                                    <td>@u.price</td>
                                    <td>@u.quantity</td>
                                    <td>@u.isStock</td>
                                    <td>@u.image</td>
                                    <td><button type="button" onclick="location.href='UrunSil'" class="btn btn-block btn-info waves-effect waves-classic" style="width:30px;">Sil</button></td>
                                    <td><button type="submit" onclick="location.href='UrunGuncelle'" class="btn btn-block btn-info waves-effect waves-classic" style="width:50px;">Güncelle</button></td>
                                    <td><button type="button" onclick="location.href='AskiyaAl'" class="btn btn-block btn-info waves-effect waves-classic" style="width:60px;">Askıya Al</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>